body {
    background-color: rgb(218, 232, 245);
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 600px;
    margin: 200px auto;
    padding: 20px;
    background-color: rgb(218, 241, 243);
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1);
}
.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.search-form-input {
    background-color: rgb(218, 232, 245) ;
    width: 80% ;
    padding: 15px 10px ;
    font-size: 16px;
    border: none;
    border-radius: 5px;
   
}
.search-form-button {
    background-color: #5ea5a5;
    color: white;
    padding: 15px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

main {
   padding: 30px 0;
}

.weather-app-city {
    margin: 0;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
}
.weather-app-details {
    font-size: 16px;
    color: rgba(39,  33,  66,  0.4);
    line-height: 24px;
    font-weight: 500;
}
.weather-app-details strong {
    color: rgb(231, 95, 41)
}
.weather-app-data {
    display: flex;
    justify-content: space-between;
}
.weather-app-temp-container {
    display: flex;
    align-items: center;
    margin-top: -130px;
    margin-left: 380px;
    
   font-size: 50px;
    font-weight: 700;
    
}
.weather-app-temp-icon {
    margin-right: 10px;
    font-size: 35px;
   
}
.weather-app-temp-unit {
    font-size: 20px;
    margin-top: -18px;
}
.weather-forecast {
   display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.weather-forecast-date {
    text-align: center;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}
.weather-forecast-icon {
    font-size: 38px;
    text-align: center;  
}
.weather-forecast-temperatures {
    text-align: center;
    color: rgb(231, 95, 41);
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.weather-forecast-temperature {
    padding: 0 10px;
}
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #555;
}