body {
    background-color: rgb(218, 232, 245);
    font-family: Roboto, sans-serif;
}
.container {
    max-width: 600px;
    margin: 200px auto;
    padding: 20px;
    background-color: rgb(218, 241, 243);
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1);
}
   footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #555;
}